@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FF8FAB] text-white tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    
  }
 
}
  .se-container{
	display: block;
	width: 100%;
	overflow: hidden;
	padding-top: 180px;
}

.se-slope{
	margin: 0 -50px;
	transform-origin: left center;
}
.se-slope:nth-child(odd){
	background: rgb(255, 255, 255);
	transform: rotate(5deg);
	margin-top: -200px;
	box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.4);
}
.se-slope:nth-child(even){
	background: #FF8FAB;
	transform: rotate(-5deg);
	box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4) inset;
}

.se-content{
	margin: 0 auto;
}

.se-content h3{
	font-size: 40px;
	position: relative;
	display: inline-block;
	padding: 10px 30px 8px 30px;
	height: 100px;
	line-height: 80px;
	margin-bottom: 20px;
	border-radius: 30px;
	font-family: 'Bitter', 'Trebuchet MS', Arial;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}
.se-slope:nth-child(odd) .se-content h3{
	background: #FF8FAB;
	color: rgb(255, 255, 255);
}
.se-slope:nth-child(even) .se-content h3{
	background: rgb(255, 255, 255);
	color: #FF8FAB;
}
/* .se-content h3:before{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid rgb(255, 255, 255);
	position: absolute;
	left: -59px;
	top: 0px;
} */
/* .se-content h3:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid rgb(255, 255, 255);
	position: absolute;
	right: -59px;
	top: 0px;
} */

.se-slope:nth-child(odd) .se-content h3:before,
.se-slope:nth-child(odd) .se-content h3:after{
	border-right-color: #FF8FAB;
	border-left-color: #FF8FAB;
}

.se-content p{
	width: 75%;
	max-width: 500px;
	margin: 0 auto;
	font-style: italic;
	font-size: 20px;
	line-height: 24px;
	padding-top: 10px;
}

.BigFirstLetter:first-letter{
	font-size: 40px;
	font-family: 'Adobe Garamond Pro', Georgia, serif;
}
#regularP {
	font-size: 25px;
	font-style: italic;
}

#regularH3 {
	font-size: 40px;
}

.se-slope:nth-child(odd) .se-content{
	transform: rotate(-5deg);
	color: #FB6F92;
	padding: 200px 100px 300px 100px;
}
.se-slope:nth-child(even) .se-content{
	transform: rotate(5deg);
	color: rgb(255, 255, 255);
	padding: 200px 100px 300px 100px;
}

@media screen and (max-width: 900px) {
 .se-slope:nth-child(odd) .se-content{
	transform: rotate(-5deg);
	color: #FF8FAB;
	padding: 70px 100px 100px 100px;
}

.se-slope:nth-child(even) .se-content{
	transform: rotate(5deg);
	color: rgb(255, 255, 255);
	padding: 70px 100px 250px 100px;
}

#regularP {
	font-size: 10px;
	font-style: italic;
}

#regularH3 {
	font-size: 20px;
}

.se-content h3{
	font-size: 20px;
	position: relative;
	display: inline-block;
	padding: 0px 30px 0px 30px;
	height: 100px;
	line-height: 80px;
	margin-bottom: 20px;
	border-radius: 30px;
	font-family: 'Bitter', 'Trebuchet MS', Arial;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

}