@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-white tracking-wide
  }

  h1, h2, h3, h4, h5, h6, span, section{
	font-family: 'Dancing Script', cursive;
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

 
}
  .se-container{
	display: block;
	width: 100%;
	overflow: hidden;
	/* padding-top: 18px; */
}

.se-slope{
	margin: 0 -50px;
	transform-origin: left center;
}
.se-slope:nth-child(even){
	background: #4f0230;
	background-image: linear-gradient(to bottom right, white, #4f0230, white);
	transform: rotate(5deg);
	margin-top: -200px;
	box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.4);
}
.se-slope:nth-child(odd){
	background-color: white; /* For browsers that do not support gradients */
	transform: rotate(-5deg);
	box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4) inset;
}

.se-content{
	margin: 0 auto;
}

.se-slope:nth-child(even) .se-content{
	transform: rotate(-5deg);
	color: white;
	padding: 130px 100px 250px 100px;
}
.se-slope:nth-child(odd) .se-content{
	transform: rotate(5deg);
	color: #4f0230;
	padding: 80px 100px 250px 100px;
}



@media screen and (max-width: 900px) {
	.se-container{
		display: block;
		width: 100%;
		overflow: hidden;
	}
	
	.se-slope{
		margin: 0 -50px;
		transform-origin: left center;
	}

	.se-slope:nth-child(even){
		background: #4f0230;
		background-image: linear-gradient(to bottom right, white, #4f0230, white);
		transform: rotate(2deg);
		margin-top: -200px;
		box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.4);
	}

	.se-slope:nth-child(odd){
		background-color: white; /* For browsers that do not support gradients */
		transform: rotate(-2deg);
		box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4) inset;
	}
	
	.se-content{
		margin: 0 auto;
	}
	
	.se-slope:nth-child(odd) .se-content{
		transform: rotate(2deg);
		color: #4f0230;
		padding: 70px 80px 250px 80px;
	}

	.se-slope:nth-child(even) .se-content{
		transform: rotate(-2deg);
		color: white;
		padding: 130px 100px 250px 100px;
	}

.greetingAnimation{
	animation: typing 2s steps(17), blink .5s step-end infinite alternate;
	overflow: hidden;
	border-right: 3px solid ;
	color: pink
}

@keyframes typing {
	from{
		width: 0%;
	}
	
}

@keyframes blink {
	60%{
		border-color: transparent;
	}
}


  


}